.git
.github
.env
.env.*
node_modules
vendor
public/build
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
.DS_Store
.phpunit.cache
.phpunit.result.cache
